<main class="main">
    <div class="task-form">
        <form method="POST">
            <input class="input" type="text" name="task" placeholder="I need to...">
            <button class="task-form__button button" type="submit">Create</button>
        </form>
        <% if(errors) {%>
            <div class="alert alert--error">
                <% errors.forEach((err) => {%>
                <%= err.msg %> 
                <%}) %> 
            </div>
        <%}
        else if(!errors && tasks.length !== 0) {%>
            <div class="alert alert--success">
                Task was added!
            </div> 
        <%}
        %> 
    </div>

    <h2> Todo List </h2>
     <% if(tasks.length === 0){%>
        <h3 class="no-tasks">There is no tasks.</h3>
     <%}%>
    <% tasks.forEach(task => {%>
        <ul class="list">
            <li class="list__item"> <div class="checkbox"></div> <span class="list__item-text"><%= task.taskName %> </span> </li>
        </ul>
                <%}) %>
</main> 


